<% flash.each do |key, value| %>
<div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="row">
  <div class="col-md-10">
    <h2>Sessions</h2>
  </div>
  <div class="col-md-2">
    <%= link_to "New", "/admin/sessions/new", class: "btn btn-success pull-right" %>
  </div>
</div>

<br>

<table class="table table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Speaker</th>
    <th>Location</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
  </tr>
  <% @sessions.each do |session| %>
  <tr>
    <td><%= link_to session.name, edit_admin_session_path(session) %></td>
    <td><%= session&.speaker %></td>
    <td><%= session&.location %></td>
    <td><%= session&.start_time&.strftime("%R") %></td>
    <td><%= session&.end_time&.strftime("%R") %></td>
    <td><%= link_to "delete", "sessions/#{session&.id}", :data => {:confirm => 'Are you sure?'}, method: :delete %></td>
  </tr>
  <% end %>
</table>
