<h2>Overview</h2>
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Trending topics</h3>
  </div>
  <div class="panel-body">
    <p>Coming soon..</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Shirt size</h3>
  </div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>XL</th>
        <th>2XL</th>
        <th>3XL</th>
        <th>4XL</th>
        <th>5XL</th>
        <th>6XL</th>
      </tr>
      <tr>
        <td><%= @shirt_size['S'] %></td>
        <td><%= @shirt_size['M'] %></td>
        <td><%= @shirt_size['L'] %></td>
        <td><%= @shirt_size['XL'] %></td>
        <td><%= @shirt_size['2XL'] %></td>
        <td><%= @shirt_size['3XL'] %></td>
        <td><%= @shirt_size['4XL'] %></td>
        <td><%= @shirt_size['5XL'] %></td>
        <td><%= @shirt_size['6XL'] %></td>
      </tr>
    </table>
  </div>
</div>
