<div>
  <%= react_component('Menu') %>
  <div>
    <%= react_component('Index', color: "#bdc3c7",
      logo: image_url('logo.png'),
      schedule: image_url('schedule.png'),
      location: image_url('location.png'),
      twitter: image_url('twitter.png'),
      facebook: image_url('facebook-logo.svg')) %>
    <%= react_component('Register', color: "#ecf0f1") %>
    <%= react_component('Schedule', color: "#bdc3c7") %>
    <%= react_component('Location', color: "#ecf0f1") %>
    <%= react_component('Sponsors', color: "#bdc3c7",
      logo: image_url('ku-logo.png'),
      platinum1: image_url('play-store.png'),
      platinum2: image_url('sponsors/platinum2.svg'),
      platinum3: image_url('sponsors/platinum3.svg'),
      platinum4: image_url('sponsors/platinum4.svg'),
      gold1: image_url('sponsors/gold1.svg'),
      silver1: image_url('sponsors/silver1.svg'),
      silver2: image_url('sponsors/silver2.svg'),
      silver3: image_url('sponsors/silver3.svg'),
      silver4: image_url('sponsors/silver4.svg'),
      silver5: image_url('play-store.png'),
      silver6: image_url('play-store.png'),
      facebookLogo: image_url('facebook-logo.svg'),
      twitterLogo: image_url('twitter-logo.svg')) %>
  </div>
</div>
