<div>
  <%= react_component('Menu') %>
  <div>
    <%= react_component('Index', color: "#bdc3c7",
      logo: image_url('logo.png')) %>
    <%= react_component('Register', color: "#ecf0f1") %>
    <%= react_component('Schedule', color: "#bdc3c7") %>
    <%= react_component('Location', color: "#ecf0f1") %>
    <%= react_component('Sponsors', color: "#bdc3c7",
      logo: image_url('ku-logo.png'),
      platinum1: image_url('play-store.png'),
      platinum2: image_url('play-store.png'),
      platinum3: image_url('play-store.png'),
      platinum4: image_url('play-store.png'),
      gold1: image_url('play-store.png'),
      silver1: image_url('play-store.png'),
      silver2: image_url('play-store.png'),
      silver3: image_url('play-store.png'),
      silver4: image_url('play-store.png'),
      silver5: image_url('play-store.png'),
      silver6: image_url('play-store.png'),
      facebookLogo: image_url('facebook-logo.svg'),
      twitterLogo: image_url('twitter-logo.svg')) %>
  </div>
</div>
