<h2>Users</h2>
<table class="table table-bordered table-hover">
  <tr>
    <th>#</th>
    <th>Joined on</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.created_at %></td>
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <td><%= link_to "edit", admin_user_path(user) %></td>
  </tr>
  <% end %>
</table>
